/*-- scss:defaults --*/

// Custom colours and variables
//$jet: #131516;
// Greens
$skog: #154734;
$oliv: #79863C;
$klorofyll: #509E2F;
$äpple: #C4D600;
$lindblom: #D8ED96;

// Yellows
$choklad: #4B3D2A;
$kanel: #996017;
$kåda: #FFB81C;
$majs: #FCE300;
$solsken: #F6EA61;

// Greys
$kol: #000000;
$titan: #53565A;
$betong: #888B8D;
$glimmer: #BBBCBC;
$fjäder: #D9D9D6;
$snö: #FFFFFF;

$jet: #79863C;
$accent: $klorofyll; //#9a2515;//#107895;
$accent2: $majs; //#9a2515;
$right-arrow: "\2192"; // Unicode character for right arrow

// colors
$body-bg: $skog !default;
$body-color: $glimmer !default;
$link-color: $accent !default;
$selection-bg: $accent2 !default;

.reveal .slide-logo {
  display: block;
  position: fixed;
  top: unset !important;
  left: unset !important;
  top: 5px;
  left: 12px;
  height: 70px !important;
  width: 70x !important;
  max-width: unset !important;
  max-height: unset !important;
}